.page-content {
  width: 1230px;
  min-height: 75vh;
  margin: 0 auto;
}
.product-intro-contaier {
  margin-top: 20px;
  background-color: white;
}
.product-detail-anchor {
  margin-top: 20px;
  margin-bottom: 20px;
  /* margin:20px 0 20px 0; */
}

.product-detail-container {
  background: white;
  margin: 20px 0 20px 0;
  padding: 20px 0 30px 0;
}
